{% include 'matrix/head.html' %}
<div id="app">
    {% include 'matrix/navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Start</div>
                    <div class="panel-body">
                        {% if errors %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {% for error in errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <form class="navbar-form navbar-left" method="POST" action="/" role="search">
                            {% csrf_token %}
                            <label>Include value for the Matrix:</label>
                            <div class="form-group">
                                <input type="number" name="limit" id="limit" value="old('limit')"
                                       class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            {% if matrix|length > 1 %}
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">Dashboard of cities</div>
                <div class="table-responsive">
                    <!-- Table -->
                    <table class="table">
                        {% if cities|length > 1 %}
                        <tr>
                            <td><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></td>
                            {% for citie in cities %}
                            <td>
                                {{citie}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endif %}
                        {% for array in matrix %}
                        <tr>
                            <td><span>C{{ forloop.counter}}</span></td>
                            {% for appex in array %}
                            <td>
                                {{appex}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% if roads|length > 1 %}
            <div class="panel panel-primary">
                <div class="panel-heading">Road more short</div>
                <div class="table-responsive">
                    <div class="table-responsive">
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Shortest path
                                </td>
                                <td><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Road</td>
                                <td><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Total</td>
                            </tr>
                            {% for road, value in roads.items %}
                            <tr>
                                <td>
                                    <strong class="text-danger">{{road}}</strong>
                                </td>
                                <td>
                                    {{value.0}}
                                </td>
                                <td>
                                    {{value.1}}
                                </td>

                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% include 'matrix/footer.html' %}