{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
<script src='{% static "appex/graph.js" %}'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>

</script>
<script src='{% static "appex/chronometer.js" %}'></script>
<script src='{% static "appex/formatdata.js" %}'></script>
<script src='{% static "appex/sendform.js" %}'></script>

</body>
</html>