{% include 'matrix/head.html' %}
<div id="app">
    {% include 'matrix/navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Start</div>
                    <div class="panel-body">
                        <div class="alert alert-danger" style="display:none" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                        </div>
                        <form id="start_limit" class="navbar-form navbar-left" method="POST"
                              action="{% url 'api_roads' %}?format=json" role="search">
                            {% csrf_token %}
                            <label>Include value for the Matrix:</label>
                            <div class="form-group">
                                <input type="number" name="limit" id="limit" value=""
                                       class="form-control" placeholder="Search" autofocus>
                            </div>
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Send
                            </button>
                        </form>
                        <div class="navbar-form">
                            <div class="form-group">
                                <label class="btn btn-default active">
                                    <input type="checkbox"  id="myStateButton" autocomplete="off" >You want to show the graph? If you choose yes, have patience (recommended for < 30)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Waiting for services back-end</div>
                    <div class="panel-body">
                        <div id="contenedor">
                            <div class="reloj" id="Horas">00</div>
                            <div class="reloj" id="Minutos">:00</div>
                            <div class="reloj" id="Segundos">:00</div>
                            <div class="reloj" id="Centesimas">:00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-warning" id="container_roads_graph" style="display:none">
                <div class="panel-heading" id="heading-tbl-roads_graph">Graph Road more short</div>
                <div class="jumbotron" id="loadingBar">
                    <h3 class="display-3">Building the graph in front-end</h3>
                    <div class="progress">
                        <div id="bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <div id="text">0%</div>
                        </div>
                    </div>
                </div>
                <div id="mynetworkdos"></div>
            </div>
            <div class="panel panel-primary" id="container_matrix" style="display:none">
                <!-- Default panel contents -->
                <div class="panel-heading" id="heading-tbl-matrix">Dashboard of cities</div>
                <div class="table-responsive">
                    <!-- Table -->
                    <table class="table" id="matrixTable">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary" id="container_roads" style="display:none">
                <div class="panel-heading" id="heading-tbl-roads">Road more short</div>
                <div class="table-responsive">
                    <div class="table-responsive">
                        <!-- Table -->
                        <table class="table" id="roadsTable">
                            <thead>
                            <td><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Shortest path
                            </td>
                            <td><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Road</td>
                            <td><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Total</td>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'matrix/footer.html' %}