{% include 'matrix/head.html' %}
<div id="app">
    {% include 'matrix/navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Dashboard of cities</div>
                    <div class="table-responsive">
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></td>
                                @foreach ($cities as $city)
                                <td>
                                    $city
                                </td>
                                @endforeach
                            </tr>
                            @foreach ($matrix as $key => $apex)
                            <tr>
                                <td> $cities[$key]</td>
                                @foreach ($apex as $m)
                                <td>
                                    $m
                                </td>
                                @endforeach
                            </tr>
                            @endforeach
                        </table>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Road more short</div>
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <!-- Table -->
                            <table class="table">
                                <tr>
                                    <td><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></td>
                                </tr>
                                @foreach ($roads as $road)
                                <tr>
                                    <td>
                                        Shortest path
                                        <strong class="text-danger">$road[0] </strong>to <strong class="text-danger">$road[count($road)-2]</strong>
                                    </td>
                                    @foreach($road as $i => $r)
                                    <td>
                                        @if ($i == (count($road)-1))
                                        =
                                        @elseif ($i > 0)
                                        to
                                        @endif
                                    </td>
                                    <td>
                                        <strong class="text-danger">$r</strong>
                                    </td>
                                    @endforeach
                                </tr>
                                @endforeach
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'matrix/footer.html' %}